.page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

body {
  background-color: black;
}

.playground {
  position: relative;
  width: auto;
  height: 600px;
  border: 1px solid blue;
}

.player {
  position: absolute;
}

.shot {
  position: absolute;
  background-color: yellow;
  width: 20px;
  height: 20px;
}

.ghost {
  position: absolute;
  width: 20px;
  height: 20px;
  
}

.sweet{
 position: absolute;
}

h3{
  color: white;
}